* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}


body {
    background: #ffffff;
}


.center-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 80px);


}

.form {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 16px;
}

.label {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    color: #2446dc;
}

.input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f2f2f2;
}

.btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background: #2446dc;
    transition: 0.2s ease;
}




