
.Tulokset_otsikko {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Tulokset_Taulu {
    height: 59vh;
    /* background: red; */
    width: screen-width;
    display: flex;
    gap: 70px;
    padding: 50px;
}

/* Kaksai taulu (eniten kenttiä ja isoin matka) */

.Eniten_kenttiä {
    border: solid #1935CA 2px;
    border-radius: 3.44px;
    width: 100%;
    height: 100%;
}

.Isoin_matka {
    border: solid #1935CA 2px;
    border-radius: 3.44px;

    width: 100%;
    height: 100%;
}

/*  Sivuston Nappi */
.central_div_tulos_Button {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}


/* Taulukon siällä oleva content */

.pokaali{
    height: 50px;
    width: 50px;
    text-align: center;
    width: 100%;
    padding: 10px;
}